@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   font-family: "Poppins";
   margin: 0;
}

.svg {
    z-index: -1;
    position: fixed;
    bottom: 0;
}

header {
background-color: blue;
color: white;
margin-bottom: 20px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.site-title {
    text-align: center;
}
.site-subtitle {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 30px;
}

input {
    border-radius: 20px;
    font-size: 1.1em;
    padding: 2px;
    border: 1px solid blue;
}

#search-btn {
    margin-bottom: 10px;
}

button {
    background-color: blue;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1.2em;
}

button:hover {
    background-color: white;
    border: 2px solid blue;
    color: blue;
}

#history {
    display: flex;
    flex-direction: column;
}

#search-history-btn {
    text-align: center;
    margin: 5px;
}

#weather-display {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-2 {
    display: flex;
    flex-grow: 2;
    align-items: center;
    flex-direction: column;
}

#five-day {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.five-day-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.five-day-card li {
    list-style: none;
}

.five-day-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1.2em;
    text-align: center;
}


@media screen and (max-width: 700px) {
    .main-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    #five-day {
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center;
    }
}